.flipCardDate {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 45px;
    height: 48px;
}

.month {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #f3f4f6;
    color: #374151;
    flex-grow: 1;
    border-bottom: 1px solid #d1d5db;
    user-select: none;
    height: 50%;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    flex-grow: 1;
    user-select: none;
    height: 50%;
}