.eventsPageContainer {
  padding: 24px;
}

.pageHeader {
  max-width: 1200px;
  padding: 0 20px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color:black
}

.pageDescription {
  color: #666;
  margin-bottom: 24px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}