.eventCard {
  height: 428px;
  width: 302px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: 10px;
}

.eventCard:hover {
  transform: translateY(-4px);
}

.cardMedia {
  display: flex;
  position: relative;
  height: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
}

.cardContent {
  flex-grow: 1;
  direction: rtl;
  position: relative;
}

.eventTitle {
  font-weight: 600;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.eventMeta {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 8px;
  color: #777;
  font-size: 14px;
  gap: 5px;
}

.eventMeta>div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.icon {
  margin-left: 6px;
  font-size: 14px;
}

.cardActions {
  padding: 8px 16px;
  border-top: 1px solid #eee;
}

.creatorInfo {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.creatorAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.creatorName {
  font-size: 14px;
  font-weight: 500;
}

.peopleCounterFull {
  width: 52px;
  height: 24px;
  border-radius: 100px;
  padding: 2 8 2 8;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px
}


.peopleCounter {
  width: 52px;
  height: 24px;
  border-radius: 100px;
  padding: 2 8 2 8;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px
}

.eventFull {
  background-color: #C6040ECC;
}

.notEventFull {
  background-color: #222222E5 ;
}

.locationBox {
  width: 225px;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badgesBox {
  background-color: #eee;
  height: 24px;
  width: 200px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px;
  padding-right: 5px;
  color: #000000;
  text-align: right;
}

.eventDatesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}